<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/app/stylesheets/style.css">
</head>

<body>
    <div id="wrap">
        <div id="left_content">
            <h3>近畿大学</h3>
            <h4>近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。個別のお問い合わせには返信を行っておりませんので、ご了承ください。</h4>
<h3>
    <%= link_to 'ツイート', new_post_path %>
</h3>
        </div>
        <div id="right_content">
       
          <ul>
    <% @posts.each do |post| %>
    <li>
        <tr>
        <h3>
            近畿大学
        <time datetime="<%= post.created_at %>">
            <%= time_ago_in_words(post.created_at) %>
　　　　</time>
　　　　</h3>
         
        <td><%= post.contents %></td>
       
　　　　</tr>
        <%= link_to '[編集]', edit_post_path(post) %>
        <%= link_to '[削除]', post_path(post), method: :delete, data: { confirm: '本当に削除してもいいですか？'} %>
    </li>
    <% end %>
</ul>
        </div>
    </div>
 





