#wrap {
  width: 800px;
  overflow: hidden;
}
#left_content {
  width: 200px;
  float: left;
  background-color: #CCFFFF
}
#right_content {
  width: 560px;
  float: right;
  background-color: #CCFFFF
}