.container {
width: 300px;
margin: 30px;
}

body{
font-size: 10px;
}

h2{
font-size: 10px;
padding-bottom: 10px;
margin-bottom: 12px;
}


.bg_test {
    height: 250px;        
    padding:  20px;          
    font-size: 20px;         
    background-color: powderblue;  
}